.signup-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #45a049;
}
